Sager/ons-sager-relatorio-bus/ONSSagerRelatorioBus/ArqTipSincDat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element dfdl:terminator="**********" ibmSchExtn:docRoot="true" name="ArqTipSincDat">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;&quot;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value1" name="data" nillable="true" type="xsd:string"/>
							<xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;&quot;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value2" name="hora" nillable="true" type="xsd:string"/>
                                                        							                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;&quot;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value10" name="tipoUsina" nillable="true" type="xsd:string"/>
                                                                                                                                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;&quot;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value3" name="nomeUnidadeGeradora" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;'" dfdl:terminator="" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value9" name="codDPP" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;'" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value4" name="idUGE" nillable="true" type="xsd:string"/>
                                                                                                                                                                                                                                <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;'" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value5" name="codCCEE" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;&quot;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value7" name="flgSincrono" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="&quot;&quot;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="value6" name="comentario" nillable="true" type="xsd:string"/>
                                                                                                                                                                                                                                                                                                                                                                                                                                                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>