Sager/ons-sager-relatorio-bus/Backup/GerarRelatorioService_V1/ArqDispVerDat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="ArqDispVerDat">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="data" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="hora" type="xsd:string"/>
                                                        							                            <xsd:element ibmDfdlExtn:sampleValue="value10" name="tipoUsina" type="xsd:string"/>
                                                                                                                                            <xsd:element ibmDfdlExtn:sampleValue="value3" name="nomeUnidadeGeradora" type="xsd:string"/>
                            <xsd:element dfdl:terminator="" ibmDfdlExtn:sampleValue="value9" name="codDPP" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="idUGE" type="xsd:string"/>
                                                                                                                                                                                                                                <xsd:element ibmDfdlExtn:sampleValue="value5" name="valorDisponibilidade" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value7" name="descEstadoOperativo" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value6" name="codEstadoOperativo" type="xsd:string"/>
                                                                                                                                                                                                                                <xsd:element ibmDfdlExtn:sampleValue="value8" name="descCondicaoOperativa" type="xsd:string"/>
                                                                                                                                                                                                <xsd:element ibmDfdlExtn:sampleValue="" name="dadoIndefinido" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>